.featured{
	width: 100%;
	height: 90vh;

	.img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.category{
		position: absolute;
		top:5rem;
		left: 2.5rem;
		color: white;
		font-size:30px;
		font-weight: 500;
		display: flex;
		align-items:center;

		select{
			background-color: var(--main-color);
			color:white;
			padding:5px;
			border:1px solid white;
			cursor: pointer;
			margin-left: 20px;
		}
	}

	.info{
		position: absolute;
		width: 400px;
		bottom:12rem;
		color: white;
		left:2.5rem;

		display: flex;
		flex-direction: column;

		img{
			width:100%;
			height: 200px;
			object-fit: cover;
		}

		.desc{
			display: flex;
			flex-direction: column;
			gap:0.5rem;

			.buttons{
				display: flex;
				gap:1rem;

				button{
					padding:10px 20px;
					border-radius: 10px;
					border:none;
					cursor: pointer;
					transition: all 0.3s ease;

					&:hover{
						transform: scale(1.1);
						background-color: #b8c2bb;
					} 
				}
			}
		}
	}
}